.page-header {
  box-sizing: border-box;
  min-height: 300px;
  padding-top: 32px;
  background-image: url('../../img/background-header-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 600px 400px;

  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url('../../img/background-header-mobile@2x.jpg');
  }

  @media (min-width: 600px) {
    min-height: 400px;
    background-image: url('../../img/background-header-desktop.jpg');
    background-size: cover;
    background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url('../../img/background-header-desktop@2x.jpg');
  }
}
}

.page-header__container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;

  @media (min-width: 830px) {
    margin-left: 166px;
    margin-right: 166px;
  }
}

.page-header__logo {
  display: block;
}

.page-header__button-menu {
  display: block;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url('../../img/icon-menu-button-open.svg');
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;

  &--opened {
    background-image: url('../../img/icon-menu-button-close.svg');
  }

  &:hover {
    opacity: 0.7;
  }

  @media (min-width: 600px) {
    display: none;
  }
}

.page-header__main-nav {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  display: none;
  margin: 0;
  padding: 0;

  &--opened {
    display: block;
  }

  @media (min-width: 600px) {
    position: static;
    display: block;
  }
}

.page-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  border-radius: 8px;
  background-color: $white;
  border: 1px solid rgba($dark, 0.1);

  @media (min-width: 600px) {
    display: flex;
    width: auto;
    background-color: transparent;
    border: none;
  }
}

.page-header__item {
  margin: 0;
  border-bottom: 1px solid rgba($dark, 0.1);

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: 600px) {
    border: none;
  }
}

.page-header__link {
  display: block;
  padding: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $black;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: 600px) {
    margin-left: 32px;
    padding: 0;

    font-size: 13px;
    line-height: 16px;
    color: $white;
  }
}
