$white: #ffffff;
$black: #000000;
$dark: #2F2F2F;
$background: #FAFAFA;
$light-text: #7A7A7A;
$button-background: #3CB3AB;
$button-background-hover: #147A73;
$bookmark-icon: #B1B1B1;
$bookmark-hover: #707070;
$bookmark-title-background: #f5f5f5;
